<div class="data">

<h3 class="title">Createur de tournois </h3>

<%= form_tag(tournoi_create_path, method: "post") do  %>
		<%= label_tag("Name :") %><br />
		<%= text_field_tag( :name, params[:name],required: true, :class => "tag") %><br />
		<%= label_tag("Description :") %><br />
		<%= text_area_tag( :description, params[:description],size: "60x12",required: true, :class => "tag") %><br />
		<%= label_tag("Cash prize :") %><br />
		<%= text_area_tag( :cash_prize, params[:cash_prize],size: "60x12",required: true, :class => "tag") %><br />
		<%= label_tag("Price :") %><br />
		<%= text_field_tag( :price, params[:price],required: true, :class => "tag") %><br />
		<%= label_tag("Max. nb. of player :") %><br />
		<%= number_field_tag( :nb_player, params[:nb_player],required: true, :class => "tag") %><br />
		<%= label_tag("Nb. of phase :") %><br />
		<%= number_field_tag( :nb_phase, params[:nb_phase],required: true, :class => "tag") %><br />
		<%= label_tag("When :") %><br />
		<%= date_field_tag( :date, Date.today.to_s,required: true, :class => "tag") %><br />

  		<%= submit_tag('Create', class: "tag") %>
</div>
<% end %>
