<div class="data">

<h3 class="title">Createur de tournois </h3>

<%= bootstrap_form_tag url: tournoi_create_path do |f| %>
	<%= f.text_field :name, :value =>  params[:name],required: true %>
	<%= f.text_area :description, :value =>  params[:description],size: "60x12",required: true %>
	<%= f.text_area :cash_prize, :value =>  params[:cash_prize],size: "60x12",required: true %>
	<%= f.number_field :nb_phase, :value =>  params[:nb_phase],required: true %>
	<%= f.date_field :date, :value => Date.today.to_s,required: true %>
<%= f.submit "Creates", class: "btn btn-success" %>
<% end %>