<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :class => 'form-signin') do |f| %>

   <%= f.email_field :email, required: true, autofocus: true, label: "Email *"  %>
    <%= f.password_field :password, required: true, label: "Mot de passe *"  %>
    <%= f.password_field :password_confirmation, required: true, label: "Confirmer le mot de passe *"  %>
    <%= f.text_field :login, required: true, label: "Nom d'utilisateur *"  %>

    <br/>
    <p> * fields are required</p>

<%= f.submit "Inscription", class: "btn btn-success" %>
<% end %>

<%= render "devise/shared/links" %>
